{%extends "master.html"%}
{%block title%}
Beds
{%endblock%}

{%block content%}
<h1>Beds:</h1>
<ul>
    <li>
        <h2>King Size Bed</h2>
        <img src="https://images.unsplash.com/photo-1648634158203-199accfd7afc?w=200&h=200&fit=crop" alt="King Size Bed" width="200" height="200">
        <p>Price: ₹45,999</p>
    </li>
    <li>
        <h2>Queen Size Bed</h2>
        <img src="https://images.unsplash.com/photo-1714138100706-790c1b19056a?w=200&h=200&fit=crop" alt="Queen Size Bed" width="200" height="200">
        <p>Price: ₹35,999</p>
    </li>
</ul>
{%endblock%}
