{%extends "master.html"%}
{%block title%}
Groceries
{%endblock%}

{%block content%}
<h1>Groceries:</h1>
<ul>
    <li>
        <h2>Rice</h2>
        <img src="https://images.unsplash.com/photo-1714040292680-5a9ea419b6b5?w=200&h=200&fit=crop" alt="Rice" width="200" height="200">
        <p>Price: ₹199/kg</p>
    </li>
    <li>
        <h2>Wheat</h2>
        <img src="https://images.unsplash.com/photo-1609130825188-a66b4aef2278?w=200&h=200&fit=crop" alt="Wheat" width="200" height="200">
        <p>Price: ₹149/kg</p>
    </li>
    <li>
        <h2>Vegetables</h2>
        <img src="https://images.unsplash.com/photo-1610636996379-4d184e2ef20a?w=200&h=200&fit=crop" alt="Vegetables" width="200" height="200">
        <p>Price: ₹99/kg</p>
    </li>
</ul>
{%endblock%}
