{%extends "master.html"%}
{%block title%}
Sofas
{%endblock%}

{%block content%}
<h1>Sofas:</h1>
<ul>
    <li>
        <h2>3-Seater Recliner</h2>
        <img src="https://images.unsplash.com/photo-1601000785676-f9b0ade234d3?w=200&h=200&fit=crop" alt="3-Seater Recliner" width="200" height="200">
        <p>Price: ₹55,999</p>
    </li>
    <li>
        <h2>L-Shaped Sofa</h2>
        <img src="https://images.unsplash.com/photo-1680503397667-3877494708a1?w=200&h=200&fit=crop" alt="L-Shaped Sofa" width="200" height="200">
        <p>Price: ₹42,999</p>
    </li>
</ul>
{%endblock%}
