{%extends "master.html"%}
{%block title%}
Utensils
{%endblock%}

{%block content%}
<h1>Utensils:</h1>
<ul>
    <li>
        <h2>Spoons</h2>
        <img src="https://images.unsplash.com/photo-1619367300942-634bf2339af6?w=200&h=200&fit=crop" alt="Spoons" width="200" height="200">
        <p>Price: ₹299 (set of 6)</p>
    </li>
    <li>
        <h2>Plates</h2>
        <img src="https://images.unsplash.com/photo-1664337872259-12b178e34be8?w=200&h=200&fit=crop" alt="Plates" width="200" height="200">
        <p>Price: ₹499 (set of 6)</p>
    </li>
    <li>
        <h2>Forks</h2>
        <img src="https://images.unsplash.com/photo-1690983321736-755af87b3f38?w=200&h=200&fit=crop" alt="Forks" width="200" height="200">
        <p>Price: ₹249 (set of 6)</p>
    </li>
</ul>
{%endblock%}
